<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Loading GPA data...</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}">
        <noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
        <script>
            function sleep(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }
            async function getProgress() {
                let get;
                do {
                    try {
                        const res = await fetch("/get_cache_grade_data_progress");
                        get = await res.json();
                    } catch(e) {
                        console.error("Error: ", e);
                    }
                    document.getElementById("bar").style.width = (get.progress * 100) + '%';
                    document.getElementById("bar").innerHTML = (get.progress * 100) + '%';
                    await sleep(250);
                } while(get.progress != 1.0);
                window.location.href = "grades";
            }
            getProgress();
        </script>
    </head>
    <body>
        <div id="progress">
            <div id="bar">0%</div>
        </div>
    </body>
</html>
