<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ManageBac Plus | Mochi</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}">
        <noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
    </head>
    <body class="is-preload">

        <div id="wrapper">

            <h5><a href="/">Home</a></h5>
            <br>

            <h2><a href="/toolbox">Toolbox</a></h2>
            <br>

            <h1 style="font-size: 70px;">Mochi Decks</h1>
            <br>
            <p>Mochi decks uploaded by other users! You can download and use them however you want! <a href="https://mochi.cards/">Learn more about Mochi</a></p>
            <br>
            <strong><a href="/upload/mochi">>> Upload <<</a></strong>
            <br>

            <div class="subjects">

                {% for deck in decks %}

                <div class="subject">
                    <h3><u>{{ deck[0] }}</u></h3>
                    <p>{{ deck[1] }}</p>
                    <br>
                    <p><strong>Date uploaded: </strong>{{ deck[2] }}</p>
                    <p><strong>Author: </strong>{{ deck[3] }}</p>
                    <p><a href="/download/{{ deck[4].split('/')[-1] }}">>> DOWNLOAD <<</a></p>
                </div>

                {% endfor %}

            </div>

        </div>

        <div id="bg"></div>

        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/util.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>

