<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ManageBac Plus | Projects</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}">
        <noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
        <style>
            #wrapper {
                justify-content: flex-start;
            }
        </style>
    </head>
    <body class="is-preload">

        <div id="wrapper">

            <h5><a href="/">Home</a></h5>
            <br>

            <h1 style="font-size: 70px;">Projects</h1>
            <p>A gallery for some of my own projects :-)</p>
            <br>
            <br>

            <div class="project" style="background-image: url('{{ url_for('static', filename='imgs/pic01.jpg') }}');">
                <p style="font-size: 45px;"><strong><a href="/">ManageBac Plus</a></strong></p>
                <p>The very site you're using right now!</p>
                <p><a href="https://github.com/fT0xicw5916/ManageBac-Plus" target="_blank">GitHub Repo</a></p>
            </div>

        </div>

        <div id="bg"></div>

        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/util.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>

