<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ManageBac Plus | Radar Graphs</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
    </head>
    <body class="is-preload">

        <div id="wrapper">

            <h5><a href="/">Home</a></h5>
            <br>

            <h2><a href="/grades">Grades</a></h2>
            <br>

            <h1 style="font-size: 70px;">Radar Graphs</h1>
            <select id="style" onchange="changeStyle();">
                <option value="rank" selected>Rank</option>
                <option value="percentage">Percentage</option>
                <option value="rank2">Rank 2</option>
                <option value="percentage2">Percentage 2</option>
            </select>
            <br>
            <img src="{{ url_for('static', filename=src) }}" id="graph" width="700">

        </div>

        <div id="bg"></div>

        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/util.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script type="text/javascript">
            function changeStyle() {
                var style = document.getElementById("style");
                var styleValue = style.options[style.selectedIndex].value;
                if (styleValue == "rank") {
                    document.getElementById("graph").src = "{{ url_for('static', filename=src) }}";
                } else if (styleValue == "percentage") {
                    document.getElementById("graph").src = "{{ url_for('static', filename=src2) }}";
                } else if (styleValue == "rank2") {
                    document.getElementById("graph").src = "{{ url_for('static', filename=src3) }}";
                } else if (styleValue == "percentage2") {
                    document.getElementById("graph").src = "{{ url_for('static', filename=src4) }}";
                }
            }
        </script>
    </body>
</html>

