<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ManageBac Plus | Settings</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
    </head>
    <body class="is-preload">

        <div id="wrapper">

            <h5><a href="/">Home</a></h5>
            <br>

            <div style="width: 80%; border: 2px solid white; padding: 100px;">
                {% if success %}
                <div class="notification">
                    <span class="close-notification" onclick="this.parentElement.style.display = 'none';">&times;</span>
                    Login success!
                </div>
                {% endif %}

                <h1 style="font-size: 70px;">Settings</h1>
                <br>

                {% if logged_in %}
                <p style="margin: 0 0 0.5rem 0;">You are already logged in!</p>
                <p style="margin: 0 0 0.5rem 0;">Username: {{ username }}</p>
                <p style="margin: 0 0 0.5rem 0;">Password: {{ password }}</p>
                {% if microsoft %}
                <p>Type: Microsoft</p>
                {% else %}
                <p>Type: ManageBac</p>
                {% endif %}
                <br>
                {% endif %}
                <form method="POST">
                    <input style="background: transparent; border: 1px solid white; width: 100%; height: 40px;" placeholder="Username" type="text" name="username" required>
                    <br>
                    <input style="background: transparent; border: 1px solid white; width: 100%; height: 40px;" placeholder="Password" type="password" name="password" required>
                    <br>
                    <button type="submit">Login</button>
                    <br>
                    <br>
                    <input type="checkbox" id="microsoft" name="microsoft" value="microsoft">
                    <label for="microsoft">Login with Microsoft (will take slightly longer)</label>
                </form>
                <p style="margin: 0 0 0 0;">If you failed to log in, double-check your ManageBac account and password and try to select or unselect "log in by Microsoft account".</p>

            </div>

        </div>

        <div id="bg"></div>

        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/util.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    </body>
</html>

