<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ManageBac Plus | Upload Notebooks</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}">
        <noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
    </head>
    <body class="is-preload">

        <div id="wrapper">

            <h5><a href="/">Home</a></h5>
            <br>

            <h1 style="font-size: 70px;"><a href="/toolbox/notebooks">Upload Notebooks</a></h1>
            <br>
            <p>By uploading your subject note, they are publicized. This means that they can be viewed, used, and shared by anyone! Think twice before uploading them!</p>
            <p>As of 10.18.2025, once your subject note is uploaded, <strong>they can't be deleted from our website</strong> (Trust me we're working on it)!</p>
            <br>

            <div>
                <form method="POST" enctype="multipart/form-data">
                    <input style="background: transparent; border: 1px solid white; width: 100%; height: 40px;" type="text" placeholder="Name" name="name" required>
                    <br>
                    <textarea name="description">Description</textarea>
                    <br>
                    <input type="file" name="notebook_file" accept=".pdf" required>
                    <button type="submit">Submit</button>
                </form>
            </div>
            {% if success %}
            <p style="font-size: 30px;">Upload success!</p>
            {% endif %}

        </div>

        <div id="bg"></div>

        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/util.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>

